{% extends 'base.html.twig' %}

{% block title %}Hello FlickrController!{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        {% set user = app.user %}
        {% if user.flickrKey %}
            Your Flickr account is linked.
            {{ user.flickrUserId }}
            {{ user.flickrUsername }}
            <a href="{{ path('app_profile') }}">See your profile and Flickr photos</a>

        {% else %}
            <div class="example-wrapper">
            <a href="{{ url }}">
                <h1>Login to Flickr</h1>

            </a>
        {% endif %}
        {% else %}
        Log into this application first then link your account to flickr
    {% endif %}

    </div>
{% endblock %}
