{% extends 'base.html.twig' %}

{% block title %}Bunny{% endblock %}

{% block body %}

<div>
    {% for code, response in files %}
        <h3>{{ code }}</h3>
        {% for file in response.contents %}
            <li>
                {{ file.ObjectName }}
            </li>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
